
<html lang="fr">
<head>
	<title>Exppad</title>
	<meta charset="utf-8"/>
	<link rel="icon" href="favicon.ico" />
	<link rel="stylesheet" href="http://blog.exppad.com/public/style/screen.css" />
	<link rel="stylesheet" href="http://blog.exppad.com/public/style/prism.css" />
	<link rel="webmention" href="http://blog.exppad.com/webmention" />
	<link rel="alternate" type="application/atom+xml" href="http://blog.exppad.com/feeds" />
</head>
<body>
	<header>
		<div id="top"></div>
		<h1><a href="http://blog.exppad.com">Exppad*</a></h1>
		<ul id="menu">
			<li><a href="http://blog.exppad.com">Accueil</a></li>
			<li><a href="http://blog.exppad.com/articles">Articles</a></li>
			<li><a href="http://tools.exppad.com/shaarli">Liens</a></li>
			<li><a href="http://blog.exppad.com/contact">Contact</a></li>
		</ul>
		<div id="haut_de_page">
			<a href="#top">
			<img alt="haut de page" src="http://blog.exppad.com/public/images/fleche.svg"/>
			</a>
		</div>
	</header>
	<div id="contenu">
