
<html lang="fr">
<head>
	<title>Exppad</title>
	<meta charset="utf-8"/>
	<!--<base href="http://192.168.1.25:3615"/>-->
	<base href="http://blog.exppad.com"/>
	<link rel="icon" href="favicon.ico" />
	<link rel="stylesheet" href="public/style/screen.css" />
	<link rel="stylesheet" href="public/style/prism.css" />
</head>
<body>
	<header>
		<h1><a href="./">Exppad*</a></h1>
		<ul id="menu">
			<li><a href="./">Accueil</a></li>
			<li><a href="./articles">Articles</a></li>
			<li><a href="./liens">Liens</a></li>
			<li><a href="./contact">Contact</a></li>
		</ul>
		<div id="haut_de_page">
			<img alt="haut de page" src="public/images/fleche.svg"/>
		</div>
	</header>
	<div id="contenu">
