	</div>
	<footer>
		<a href="./">Accueil</a> - <a href="./articles">Articles</a> - <a href="./liens">Liens</a> - <a href="./contact">Contact</a>
		<br/>
		<a href="admin" id="lien_admin">Elie Michel</a> - 2013 - Paris
	</footer>
	
	<script type="text/javascript" src="public/scripts/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/scripts/jquery-fieldselection.min.js"></script>
	<script type="text/javascript" src="public/scripts/exppad.js"></script>
	<script type="text/javascript" src="public/scripts/prism.js"></script>
</body>
</html>
