<!DOCTYPE html>
<% include _debut %>
		<p id="accueil">
			Cette page est actuellement en cours de maintenance, veuillez nous en excuser.
		</p>
		<p>
			<a href="/">Retour à l'accueil</a>
		</p>
<% include _fin %>
